# Data collection and filtering

## Import packages

In [169]:
import pandas as pd
import numpy as  np

## Collecting data

In [187]:
### Load dataset
hospital_data = pd.read_csv(##insertdatapath, sep = ';')

C:\Users\Mirjam\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,6,9,10,11,12,13,14,15,21,23,24,55,56,57,61,62,63,64,65,66,69,70,71,75,77,78,79,95,96,97,98,99,101,105,117,118,119,122,123,124,125,126) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [188]:
## Show the first two rows of the file
hospital_data.head(2)

,case:concept:name,event:concept:name,Treatment code,Producer code,Diagnosis,End date:10,End date:11,Diagnosis code,Number of executions,Start date:10,...,End date:7,End date:9,Section,End date:1,End date:2,End date:3,End date:4,End date:5,End date:6,Unnamed: 127
0,0,1e consult poliklinisch,103.0,SRTH,maligniteit cervix,NaN,NaN,M13,1,NaN,...,NaN,NaN,Section 5,2005-01-29T23:45:36+01:00,2005-01-29T23:45:36+01:00,NaN,NaN,NaN,NaN,NaN
1,0,administratief tarief - eerste pol,103.0,SRTH,maligniteit cervix,NaN,NaN,M13,1,NaN,...,NaN,NaN,Section 5,2005-01-29T23:45:36+01:00,2005-01-29T23:45:36+01:00,NaN,NaN,NaN,NaN,NaN

In [189]:
## Show the number of unique cases
hospital_data['case:concept:name'].nunique()

1143

In [190]:
## Show the number of unique events
hospital_data['event:concept:name'].nunique()

624

In [191]:
## Start date
hospital_data['time:timestamp'].min()

'2005-01-03T00:00:00+01:00'

In [192]:
## End date
hospital_data['time:timestamp'].max()

'2008-03-20T00:00:00+01:00'

In [193]:
# making a list of all column names
columns = []
 
# iterating the columns
for col in hospital_data.columns:
    columns.append(col)
    
columns.sort()

In [194]:
## Print all columns in alphabetical order
for col in columns:
    print(col)

Activity code
Age
Age:1
Age:2
Age:3
Age:4
Age:5
Diagnosis
Diagnosis Treatment Combination ID
Diagnosis Treatment Combination ID:1
Diagnosis Treatment Combination ID:10
Diagnosis Treatment Combination ID:11
Diagnosis Treatment Combination ID:12
Diagnosis Treatment Combination ID:13
Diagnosis Treatment Combination ID:14
Diagnosis Treatment Combination ID:15
Diagnosis Treatment Combination ID:2
Diagnosis Treatment Combination ID:3
Diagnosis Treatment Combination ID:4
Diagnosis Treatment Combination ID:5
Diagnosis Treatment Combination ID:6
Diagnosis Treatment Combination ID:7
Diagnosis Treatment Combination ID:8
Diagnosis Treatment Combination ID:9
Diagnosis code
Diagnosis code:1
Diagnosis code:10
Diagnosis code:11
Diagnosis code:12
Diagnosis code:13
Diagnosis code:14
Diagnosis code:15
Diagnosis code:2
Diagnosis code:3
Diagnosis code:4
Diagnosis code:5
Diagnosis code:6
Diagnosis code:7
Diagnosis code:8
Diagnosis code:9
Diagnosis:1
Diagnosis:10
Diagnosis:11
Diagnosis:12
Diagnosis:13
Diagnosis:14
Diagnosis:15
Diagnosis:2
Diagnosis:3
Diagnosis:4
Diagnosis:5
Diagnosis:6
Diagnosis:7
Diagnosis:8
Diagnosis:9
End date
End date:1
End date:10
End date:11
End date:12
End date:13
End date:14
End date:15
End date:2
End date:3
End date:4
End date:5
End date:6
End date:7
End date:8
End date:9
Number of executions
Producer code
Section
Specialism code
Specialism code:1
Specialism code:10
Specialism code:11
Specialism code:12
Specialism code:13
Specialism code:14
Specialism code:15
Specialism code:2
Specialism code:3
Specialism code:4
Specialism code:5
Specialism code:6
Specialism code:7
Specialism code:8
Specialism code:9
Start date
Start date:1
Start date:10
Start date:11
Start date:12
Start date:13
Start date:14
Start date:15
Start date:2
Start date:3
Start date:4
Start date:5
Start date:6
Start date:7
Start date:8
Start date:9
Treatment code
Treatment code:1
Treatment code:10
Treatment code:11
Treatment code:12
Treatment code:13
Treatment code:14
Treatment code:15
Treatment code:2
Treatment code:3
Treatment code:4
Treatment code:5
Treatment code:6
Treatment code:7
Treatment code:8
Treatment code:9
Unnamed: 127
case:concept:name
event:concept:name
lifecycle:transition
org:group
time:timestamp

## Filtering columns

#### Removing unnecessary columns

In [195]:
## Create a list of all columns to keep
nec_columns = ['case:concept:name', 'event:concept:name', 'time:timestamp', 'Activity code', 'Producer code', 'Diagnosis:1', 'Diagnosis:10', 'Diagnosis:11',
               'Diagnosis:12', 'Diagnosis:13', 'Diagnosis:14', 'Diagnosis:15', 'Diagnosis:2', 'Diagnosis:3', 'Diagnosis:4',
               'Diagnosis:5', 'Diagnosis:6', 'Diagnosis:7', 'Diagnosis:8', 'Diagnosis:9']

## Create a list of all columns to drop
columns_drop = list(set(columns) - set(nec_columns))

In [196]:
## Drop the columns
hospital_data.drop(columns=columns_drop, axis=1, inplace=True)

In [197]:
hospital_data.head(2)

,case:concept:name,event:concept:name,Producer code,Activity code,Diagnosis:15,Diagnosis:14,Diagnosis:11,Diagnosis:10,Diagnosis:13,Diagnosis:12,time:timestamp,Diagnosis:8,Diagnosis:7,Diagnosis:6,Diagnosis:5,Diagnosis:4,Diagnosis:3,Diagnosis:2,Diagnosis:1,Diagnosis:9
0,0,1e consult poliklinisch,SRTH,410100,NaN,NaN,NaN,NaN,NaN,NaN,2005-01-03T00:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,Gynaecologische tumoren,Gynaecologische tumoren,NaN
1,0,administratief tarief - eerste pol,SRTH,419100,NaN,NaN,NaN,NaN,NaN,NaN,2005-01-03T00:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,Gynaecologische tumoren,Gynaecologische tumoren,NaN

#### Combine the diagnosis columns in one column

In [200]:
## Create a list with all diagnosis columns
diagnose_descr_columns = ['Diagnosis:1', 'Diagnosis:10', 'Diagnosis:11', 'Diagnosis:12', 'Diagnosis:13', 'Diagnosis:14', 'Diagnosis:15', 'Diagnosis:2', 'Diagnosis:3', 
                    'Diagnosis:4', 'Diagnosis:5', 'Diagnosis:6', 'Diagnosis:7', 'Diagnosis:8', 'Diagnosis:9']

In [201]:
## Replace the value of the column 'diagnosis' with the combined values of all diagnosis columns
hospital_data['diagnosis'] = hospital_data[diagnose_descr_columns].apply(lambda row: set(row.dropna().tolist()), axis=1)

In [202]:
## Drop the original diagnosis columns
hospital_data.drop(columns=diagnose_descr_columns, axis=1, inplace=True)

In [184]:
hospital_data.head(2)

,case:concept:name,event:concept:name,Producer code,Activity code,Diagnosis:15,Diagnosis:14,Diagnosis:11,Diagnosis:10,Diagnosis:13,Diagnosis:12,time:timestamp,Diagnosis:8,Diagnosis:7,Diagnosis:6,Diagnosis:5,Diagnosis:4,Diagnosis:3,Diagnosis:2,Diagnosis:1,Diagnosis:9
0,0,1e consult poliklinisch,SRTH,410100,NaN,NaN,NaN,NaN,NaN,NaN,2005-01-03T00:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,Gynaecologische tumoren,Gynaecologische tumoren,NaN
1,0,administratief tarief - eerste pol,SRTH,419100,NaN,NaN,NaN,NaN,NaN,NaN,2005-01-03T00:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,Gynaecologische tumoren,Gynaecologische tumoren,NaN

## Creating a top 10 diagnosis

In [92]:
## Collecting a set of all diagnosis
diagnoses_list = []

for index, row in hospital_data.iterrows():
    diagnoses = row['diagnosis']
    for diagnosis in diagnoses:
        if diagnosis not in diagnoses_list:
            diagnoses_list.append(diagnosis)

In [93]:
## Display the number of unique diagnoses
len(diagnoses_list)

119

In [140]:
## Creating a dict to count the occurence of every diagnosis
diagnoses_dict = {}
case_list = []

for index, row in hospital_data.iterrows():
    diagnoses = row['diagnosis']
    case = row['case:concept:name']
    if case in case_list:
        pass
    else:
        for diagnosis in diagnoses:
            if diagnosis in diagnoses_dict:
                diagnoses_dict[diagnosis] += 1
            else:
                diagnoses_dict[diagnosis] = 1
        case_list.append(case)

In [149]:
## Print the  top 10 most common diagnoses

def keyfunction(k):
    return diagnoses_dict[k]

for key in sorted(diagnoses_dict, key=keyfunction, reverse=True)[:10]:
    print("%s: %i" % (key, diagnoses_dict[key]))

maligniteit cervix: 277
Gynaecologische tumoren: 252
maligniteit ovarium | tuba: 143
maligniteit vulva: 131
Maligne neoplasma cervix uteri: 93
maligniteit endometrium: 84
Plaveiselcelca, cervix st Ib: 51
Sereus adenoca: ovarium st IIIc: 40
Maligne neoplasma ovarium: 24
Adenoca: corpus uteri st Ic: 19

## Create a subset with only the selected diagnoses

In [165]:
## Get all cases that have the selected diagnoses
diagnose1 = 'Plaveiselcelca, cervix st Ib'
diagnose2 ='Plaveiselcelca, cervix st IIa'
cases = []

for index, row in hospital_data.iterrows():
    case = row['case:concept:name']
    diagnoses = row['diagnosis']
    if diagnose1 in diagnoses:
        cases.append(case)
    elif diagnose2 in diagnoses:
        cases.append(case)
    else:
        pass

In [166]:
cases = set(cases)
len(cases)

62

In [167]:
## Create the data frame with only the cases that contain the selected diagnoses
diagnoses_set = hospital_data[hospital_data['case:concept:name'].isin(cases)]

In [168]:
## Save the set
diagnoses_set.to_csv('Data/diagnoses_set.csv')